<!DOCTYPE HTML>
<html>
<head>
    <title>Filocalia Live Streaming</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/stream';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('stream_status_server_event', function(msg) {
                $('#stream_status_log').html("Streaming status: " + msg.status);
            });

            socket.on('facebook_status_server_event', function(msg) {
                $('#facebook_status_log').html("Facebook stream url: " + msg.status);
            });

            socket.on('youtube_status_server_event', function(msg) {
                $('#youtube_status_log').html("Youtube stream url: " + msg.status);
            });

            $('form#start_stream').submit(function(event) {
                toggle = $('#toggle_stream')

                if (toggle.val() == "Start streaming") {
                  toggle.val("Stop streaming");
                  stream_data = {
                    youtube: $('#youtube_stream').is(':checked'),
                    facebook: $('#facebook_stream').is(':checked')
                  }
                  socket.emit('start_stream_client_event', {data: stream_data});
                }
                 else {
                  toggle.val("Start streaming");
                  socket.emit('stop_stream_client_event');
                }
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Filocalia Live Streaming</h1>
    <form id="start_stream" method="POST" action='#'>
        <input type="checkbox" name="youtube_stream" id="youtube_stream" value="Youtube" checked> Stream to Youtube<br>
        <input type="checkbox" name="facebook_stream" id="facebook_stream" value="Facebook" checked> Stream to Facebook<br>
        {% if session['status'] == "on" or session['status'] == "starting" %}
            <input type="submit" id="toggle_stream" value="Stop streaming">
         {% else %}
            <input type="submit" id="toggle_stream" value="Start streaming">
         {% endif %}
    </form>
    <h2>Status:</h2>
    <div id="stream_status_log">
      Streaming status:
      {% if session['status'] == "on" %}
         on
      {% elif "starting" in session['status'] %}
        starting...
      {% else %}
        off
      {% endif %}
    </div>
    <div id="facebook_status_log">
      Facebook stream url: {{session['urls']['facebookStreamUrl']}}
    </div>
    <div id="youtube_status_log">
      Youtube stream url: {{session['urls']['youtubeStreamUrl']}}
    </div>
</body>
</html>
